<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrimaryEducationSystem.Core.Properties.Settings.PESDBConnectionString"
            connectionString="Data Source=LEVANLINH\SQLEXPRESS;Initial Catalog=PESDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PrimaryEducationSystem.Core.Properties.Settings.ITBusDBConnectionString"
            connectionString="Data Source=(LOCAL);Initial Catalog=ITBusDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PrimaryEducationSystem.Core.Properties.Settings.PESDBConnectionString1"
            connectionString="Data Source=(LOCAL);Initial Catalog=PESDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>