<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrimaryEducationSystem.Core.Properties.Settings.PESDBConnectionString"
            connectionString="Data Source=nguyen-pc\sqlserver;Initial Catalog=PESDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>